# Epson packages and native libraries are staged locally and are not redistributed.
apps/sane_l3210/packages/*.deb
apps/sane_l3210/rootfs/opt/es2button/lib/*.so

# Generated/runtime files.
apps/sane_l3210/rootfs/usr/local/bin/__pycache__/
*.pyc
**/__pycache__/
share/
output/
*.SF2
*.jpg
apps/sane_l3210/rootfs/usr/local/bin/*.png
*.tif
*.tiff

# Local build and editor files.
.DS_Store
.venv/
