<?xml version="1.0" standalone="no"?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name replace-wildcards="yes">EPSON L3210 Series @ %h</name>
  <service>
    <type>_ipp._tcp</type>
    <subtype>_universal._sub._ipp._tcp</subtype>
    <subtype>_printer._sub._ipp._tcp</subtype>
    <port>631</port>
    <txt-record>txtvers=1</txt-record>
    <txt-record>qtotal=1</txt-record>
    <txt-record>ty=EPSON L3210 Series</txt-record>
    <txt-record>product=(Epson L3210 Series)</txt-record>
    <txt-record>note=Epson L3210</txt-record>
    <txt-record>adminurl=http://%h:631</txt-record>
    <txt-record>rp=printers/EPSON_L3210_Series</txt-record>
    <txt-record>priority=0</txt-record>
    <txt-record>Color=F</txt-record>
    <txt-record>Duplex=F</txt-record>
    <txt-record>PaperMax=legal-A4</txt-record>
    <txt-record>URF=V1.5,W8,SRGB24,CP99,IS1-4,MT1-3-4-5,OB10,PQ3-4-5-6-7-8-9</txt-record>
  </service>
</service-group>
